* {
    margin: 0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}

/*header begining*/
.header {
    height: 20vh;
    width: 100%;
    padding: 0 8%;
    position : relative;
}

body {

    background-image: url("images/Grand\ hotel\ wallpapers\ Grand\ hotel\ stock\ photos.jpg");
    background-position: center;
    background-size: cover;
}

nav{
    display : flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 140px;
}

.navigation {
    padding: 28px 0 ;
}

.navigation li {
    	display :inline-block;
        margin: 0 15px;
}

.navigation a {
    text-decoration: none;
    color:black;
    padding : 5px 0;
    position: relative;
}

.button1 {
    background-color:skyblue;
    color: white;
    padding: 10px 30px;
    border-radius: 3px;
    cursor:pointer;
}

/*header ending*/

/*footer begining*/

.footer {
    width: 100%;
    padding: 20px 15%;
    color:skyblue;
    display: flex;
}

.footer div {
    text-align: center;
}

.col-2 {
    flex-grow: 2;
}

.footer div h1 {
    font-size: 40px;
    color: darkcyan;
    font-weight: 300;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

.col-1 a{
    font-size: 18px;
    display: block;
    text-decoration: none;
    color: skyblue;
    margin-bottom: 45px;
}

.logo-footer {
    width: 150px;

}

.social-icons {
    margin-top: 30px;
}

.social-icons i {
    font-size: 30px;
    margin: 10px;
    cursor: pointer;
}

/*footer ending*/

/*body start */

.body-box {
    width: 50%;
    height: 60vh;
    background-color:lightcyan;
    border-radius: 10px;
    padding: 50px;
    margin: 20px;
    margin: auto;
}

.hotel-images {
    display: block;
    width: 350px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;

}

h2 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

h3 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    text-align: center;
}

.Reserve {
    text-decoration: none;
    text-align: center;
    background-color:skyblue;
    color: black;
    padding: 10px 30px;
    border-radius: 10px;
    cursor:pointer;
    position: relative;
}

